<% @registered_items.each do |item| %>
  <div class="card text-center m-auto" id="card">
    <% if item.buy_sell == true %>
      <div class="card-header bg-info">
        Want to Buy
      </div>
    <% else %>
      <div class="card-header bg-danger">
        Want to Sell
      </div>
    <% end %>
    <div class="card-body">
      <% if !item.item %>
        <h5 class="card-title">This post is not available</h5>
      <% else %>
        <h5 class="card-title"><%= link_to item.item.name, user_registered_item_path(item.user, item) %></h5>  
      <% end %>
      <p class="card-text">Price: <%= item.price %></p>
      <p class="card-text">Quantity: <%= item.quantity %></p>
      <p class="card-text"><%= item.user.in_game_id %></p>
      <% if !item.server %>
        <p>Sever info is not available</p>
      <% else %>
        <p class="card-text">Server: <%= item.server.server_name %></p>
      <% end %>
      <a href="#" class="btn btn-primary"><%= fa_icon 'copy'%></a>
    </div>
    <div class="card-footer text-muted">
      registered <%= time_ago_in_words(item.created_at) %> ago
    </div>
  </div>
<% end %>