<div class="container mt-5 p-3">
  <div class="card text-center">
    <div class="card-header">
      <%= @item.name %>
    </div>
    <div class="card-body">
      <p class="card-text"><%= @item.description %></p>
      <%= link_to '아이템 목록', items_path, class:"btn btn-primary"%>
      <% if user_signed_in? %>
        <%= link_to '아이템 수정', edit_item_path(@item), class:"btn btn-info"%>
        <%= link_to '아이템 삭제', item_path(@item), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger"%>
      <% end %>
    </div>
    <div class="card-footer text-muted">
      <%= time_ago_in_words(@item.created_at) %>
    </div>
  </div>

  <div class="row">
    <div class="col-6 mt-4">
      <span class="badge bg-primary mb-3">구매중인 물품</span>

      <div id="buy_update">
        <%= render partial: 'items/components/buy_item', as: :item, collection: @item.registered_items.where(buy_sell: true) %>
      </div>
    </div>

    <div class="col-6 mt-4">
      <span class="badge bg-danger mb-3">판매중인 물품</span>
      <div id="sell_update">
        <%= render partial: 'items/components/sell_item', as: :item, collection: @item.registered_items.where(buy_sell: false) %>
      </div>
    </div>
  </div>
</div>