<div class="card mb-1">
  <div class="row">
    <div class="item-image col-3 mx-auto">
      <img src="" alt="">
      <span class="badge bg-danger">판매</span>
    </div>
    <div class="card-body col-9 mx-auto">
      <p><%= link_to item.item.name, item_path(item.item_id), class: 'card-title font-weight-bold' %></p>
      <p class="card-text">개수: <%= item.quantity %></p>
      <p class="card-text item-buy-price font-weight-bold">가격: <%= item.price %></p>
    </div>
  </div>
  <div class="card-footer d-flex bd-highlight align-items-center">
    <span class="card-text mx-1 badge rounded-pill bg-info">서버: <%= item.server.server_name %></span>
    <span class="card-text mx-1">아이디: <%= item.user.in_game_id %></span>
    <div class="ml-auto">
      <%= "<input type='text' value='/to #{item.user.in_game_id} 안녕하세요. <#{item.item.name}>을/를 #{item.price}에 판매합니다(gstrade.com)'>".html_safe%>
      <button class="btn btn-primary mx-1"><%= fa_icon 'copy'%> 구매 </button>
    </div>
  </div>
</div>